@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
font-family: Poppins, Arial, Helvetica, sans-serif;
background-color: #f8ebe2;
}



/* Responsive para celulares*/

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Barra de navegacion*/
.nav-bar{
display: flex;
flex-direction: column; 
align-items: center;
background-color: #f2ede7;
padding: 10px;
}

.nav-bar img{
max-width: 150px;
height: auto;
}

.nav-bar ul{
display: flex;
flex-direction: column;
gap: 10px;
list-style: none;
padding: 10px 0;
align-items: center;
}

.nav-bar a{
font-size: 16px;
text-decoration: none;
color: black;
}

/* IMAGENES RESPONSIVE */
img{
max-width: 100%;
height: auto;
}


/* Heroe principal para cel*/
.hero { 
    display: flex;
    align-items: center;
    justify-content: flex-start;

    max-height: 350px;
    padding: 20px;
    
    background-image: url('./recursos/img/hero.png');
    background-size: cover;
    background-position: center;

    position: relative;
}
.hero-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    z-index: 1;

    color: white;
    font-size: 17px;
    max-width: 500px;
}

.hero-content .btnProductos{
    display: inline-block;

    padding: 12px 24px;

    background-color: #9f6d3a;
    color: #fff;

    font-size: 16px;
    font-weight: 600;

    border: none;
    border-radius: 8px;
    
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-content .btnProductos:hover {
    background-color: #7a4f28;
    transform: translateY(-2px);
}

/* Body de index.html */

div h2 {
    padding: 0 120px;
    text-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

main .catalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;

    justify-content: center;
}

.carta-producto{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0 0 30px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffe3c0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.20);
}


.carta-producto img{
    border-radius: 10px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.carta-producto h3, .carta-producto p{
    padding: 5px 10px;
    font-size: 18px;
}

.carta-producto p{
    padding: 5px 0px 15px 10px;
}

.carta-producto button{
    align-self: center;
    padding: 15px 60px;

    background-color: #9f6d3a;
    color: #fff;

    font-size: 16px;
    font-weight: 600;

    border: none;
    border-radius: 15px;
    
    cursor: pointer;
    transition: all 0.3s ease;
}

main .btnVerProductos{
    align-self: center;
    padding: 20px 100px;
    margin-bottom: 20px;

    display: inline-block;

    padding: 15px 70px;

    background-color: #9f6d3a;
    color: #fff;

    font-size: 16px;
    font-weight: 600;

    border: none;
    border-radius: 8px;
    
    cursor: pointer;
    transition: all 0.3s ease;
}

.pie{
    display: flex;
    justify-content: center;
    background-color: #ffe3c0;

    padding: 15px;

    font-size: 14px;
    
}

/*RESPONSIVE PARA ESCRITORIOS*/
@media (min-width: 768px){

/*Barra de navegacionm*/
.nav-bar{
    flex-direction: row; /* horizontal */
    justify-content: space-between;
    padding: 10px 30px;
}

.nav-bar ul{
    flex-direction: row; /* menú en fila */
    gap: 25px;
}

.nav-bar a{
    font-size: 18px;
}

.icono-carrito{
    width: 32px;
    height: 32px;
}

.hero{
    height: 400px;
    padding: 40px 80px;
}

.hero h1{
    font-size: 48px;
    line-height: 1.2;
}

main .btnVerProductos{
    padding: 12px 150px;
}
}


