*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cfcfcf;
}

.contenedor-form{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-form h1{
    margin-bottom: 20px;
    color: #000000;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    background-color: #dbcda6;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,.35);
}

.campos{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.campos label{
    margin-bottom: 5px;
    font-weight: 600;
}

.formulario input{
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
}

.formulario button{
    align-self: center;
    width: 180px;
    height: 45px;
    margin-top: 10px;

    border: none;
    border-radius: 5px;

    background-color: #4f8a4f;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.formulario button:hover{
    background-color: #3f703f;
}